body {
	font-family: sans-serif;
}

table {
	border: 0;
}

td {
	padding: .1em;
}

label {
	box-sizing: border-box;
}

input {
	box-sizing: border-box;
	width: 100%;
}

textarea {
	box-sizing: border-box;
	width: 100%;
}

.hidden {
	display: none;
	visibility:hidden;
}

#bt-btn, #select-log {
	float: right;
}

#status {
	font-style: italic;
	color: darkgrey;
}

#status.failed {
	color: darkred;
}

#status.connected {
	color: darkgreen;
}

#txt-res.failed {
	color: darkred;
}

::-webkit-input-placeholder {
	font-style: italic;
}

option:nth-child(1) {
	font-style:italic;
}
